:root {
  --text: #0f1a24;
  --background: #fafbf9;
  --primary: #274059;
  --secondary: #b9cbdc;
  --accent: #c4212c;
}

header,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #222831; */
  background-color: var(--text);
  color: var(--background);
  width: 100vw;
}

header div,
footer span {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  margin: 0;
  padding: 10px 0px;
}

header h1,
header p {
  padding: 5px;
  margin: 0;
}

footer span {
  padding: 30px 0px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
  margin: 0;
  padding: 0;
  color: var(--primary);
  font-size: 18px;
}
.game_frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.scorecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 22vh;
}

.scorecard > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 450px;
}

#game_message {
  font-size: 24px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.player_choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.disable-element {
  pointer-events: none;
}

.current_game {
  display: flex;
  flex-direction: column;
}

.game_controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60vw;
  margin: 10px 0px;
}

.restart_game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.game_control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 8rem;
  height: 8rem;
  border-radius: 10%;
  background-color: var(--secondary);
  box-shadow: none;
  border: none;
  border: 1px solid var(--primary);
}

.game_control > span {
  font-size: 60px;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 5cap;
  width: 8rem;
  height: 4rem;
  background-color: var(--secondary);
  border: none;
  font-size: 18px;
  font-weight: bold;
  box-shadow: none;
  color: var(--primary);
  border: 1px solid var(--secondary);
}

.commentary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 40vh;
  flex: 0;
}

.game_history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: clip;
  padding: 5px;
  max-height: 20vh;
  width: 450px;

  border: 2px solid var(--primary);
  background-color: var(--secondary);
}
.gameResult {
  list-style-type: none;
  padding: 2px;
  color: var(--primary);
  background-color: var(--secondary);
  /* border: 1px solid #dfd0b8; */
  width: 59vw;
  width: 450px;
}

.resultAccent {
  color: var(--accent);
}
