body {
  display: flex;
  justify-content: center;
  min-width: 60vw;
}
.game_frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60vw;
}
header {
  display: flex;
  justify-content: center;
  color: red;
}

.scorecard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.current_game {
  display: flex;
  flex-direction: column;
}

.game_controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60vw;
  margin: 10px 0px;
}

.restart_game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.game_control {
  width: 8rem;
  height: 8rem;
  border-radius: 10%;
}

.restart {
  border-radius: 5cap;
  width: 8rem;
  height: 4rem;
}

.commentary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 40vh;
  flex: 0;
}

.game_history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: clip;
  padding: 5px;
  max-height: 20vh;
}
.gameResult {
  list-style-type: none;
  padding: 2px;
  margin: 2px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
